# include <stdio.h>

main() 
{
 printf("welcome to MegaBite\n");
 printf("hamburger\n");
 printf("vegiburger\n");
 printf("chicken fillets\n");
 printf("kids meals\n");
 printf("fish\n");
 printf("salad\n");
 printf("choose sides\n");
 printf("cheese\n");
 printf("ketchup\n");
 printf("dill\n");
 printf("choose drink\n");
 printf("cola\n");
 printf("lemonade\n");
 printf("water\n");
 return 0;
}
